.mainContainer {
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}

#mainHeader {
	background-color: #373737;
	width: 100%;
	float: left;
	overflow: hidden;
	height: auto;
	padding: 20px;
	position: fixed;
	border-bottom: solid 1px #000;
}

.logoHolder {
	width: auto;
	float: left;
	overflow: hidden;
	margin: 0 0 0 20px;
}

.logoImage {
	width: auto;
	margin: 0 20px 0 0;
}

.logoImage img {
	width: 80px;
	height: 80px;
}

.logoText {
	width: auto;
	float: left;
	overflow: hidden;
	padding: 15px 0 0 0;
}

.logoText h5 {
	color: #FFF;
	font-weight: 700;
	width: auto;
	float: left;
	overflow: hidden;
	clear: both;
}

.logoText p {
	color: #FFF;
	font-size: 14px;
	width: auto;
	float: left;
	overflow: hidden;
	clear: both;
}

@media all and (max-width: 1200px) { 

	#mainContent {
		width: calc(100% - 102px);
		float: left;
		overflow: hidden;
		height: auto;
		-webkit-transition: width .5s ease-in-out;
		-moz-transition: width .5s ease-in-out;
		-o-transition: width .5s ease-in-out;
		transition: width .5s ease-in-out;			
		background-color: #fff;
		padding: 30px;
		margin-left: 42px;
	}

}

@media all and (min-width: 1201px) and (max-width: 1920px) { 

	#mainContent {
		width: calc(100% - 260px);
		float: left;
		overflow: hidden;
		height: auto;
		-webkit-transition: width .3s ease-in-out;
		-moz-transition: width .3s ease-in-out;
		-o-transition: width .3s ease-in-out;
		transition: width .3s ease-in-out;			
		background-color: #fff;
		padding: 30px;		
	}

}

#pageContent {
	width: 100%;
	float: left;
	overflow: hidden;
	margin: 125px 0 0 0;
}

.mainContentDetailsHolder {
	width: 100%;
	float: left;
	overflow: hidden;
}

/*Dashboard*/

.dashBoardThumbNailHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	margin: 0 0 30px;
}

.dashBoardThumbNailHolder ul {
	display: inline-block;
	width: 100%;
	float: left;
	overflow: hidden;
}

.dashBoardThumbNailHolder ul > li {
	display: inline-block;
	margin: 10px 29px 0 0px;
	padding: 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 1%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 1%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 1%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	width: 120px;
	text-align: center;
	color: #373737;
	border: solid 1px #ccc;

}

.dashThumbNailIcon {
	width: 100%;
	float: left;
	overflow: hidden;
	font-size: 50px;
	padding: 10px 0 5px;
}

.dashThumbNail {
	width: 100%;
	float: left;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.dashBoardTableHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	margin: 0 0 30px;
}

.dashBoardTables {
	width: 100%;
	display: block;
	float: left;
	overflow: hidden;
}

.dashBoardTables > li {
	display: inline-block;
	float: left;
	overflow: hidden;
	border-radius: 10px;
	border: solid 1px #ccc;
	margin: 0 20px 0 0;
	min-height: 350px;
}


.leftDashBoardTable {
	width: 300px;
	float: left;
	overflow: hidden;
	width: 60%;
}

.rightDashBoardTable {
	width: 20%;
	float: left;
	overflow: hidden;
	min-width: 300px;
}

.summaryHolder {
	width: 100%;
	float: left;
	overflow: hidden;
}

.summaryHolder h6 {
	padding: 10px 20px;
	float: left;
	overflow: hidden;
	color: #575756;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

.summaryTableHolder {
	width: 100%;
	float: left;
	overflow: hidden;
}

.summaryTableHolder table {
	width: 100%;
	display: table;
	float: left;
	overflow: hidden;
	font-size: 14px;
	border-collapse: collapse;	
}

.summaryTableHolder table tr {
	display: table-row;
	overflow: hidden;
	float: none;
}

.tableHeadings {
	background-color: #eee;
	font-weight: 700;
	padding: 10px;
	color: #575756;
}

.summaryTableHolder table {
	margin: 0 0 20px;
}

.summaryTableHolder table td {
	display: table-cell;
	overflow: hidden;
	padding: 8px 20px;

}

.summaryTableHolder table td:first-child {
	border-right: solid 3px #FFF;
}

.totalNumber {
	width: 100px;
	float: left;
	overflow: hidden;
	margin: 0 10px 0 0;
	font-weight: 700;
	color: #3c3c3b
}

.tableLabelData {
	width: auto;
	float: left;
	overflow: hidden;
	color: #3c3c3b;
}

.tableListData {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
}

.tableListData > li {
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 5px 0;
}

#notificationTable {
	text-align: center;
}

#notificationTable .tableHeadings {
	text-transform: uppercase;
}

#notificationTable td:first-child {
	border:none;
}

#notificationTable .tableHeadings {
	background-color: #005faa;
	color: #FFF;
}

.inActiveCell {
   -moz-box-shadow:    inset 0px 3px 9px -3px #000000;;
   -webkit-box-shadow: inset 0px 3px 9px -3px #000000;;
   box-shadow:         inset 0px 3px 9px -3px #000000;;	
   background-color: #eee;
   color: #575756;
   cursor: pointer;
}

/*Dashboard*/